<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <title>Список записей</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        .image-frame {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body >
<div th:replace="~{navigation :: navi('Home')}"></div>
<div style="margin-left: 50px;margin-right: 50px">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Текст записи</th>
            <th>Время создания</th>
            <th>Пользователь</th>
            <th>Картинки</th>
            <th sec:authorize="isAuthenticated()">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="post : ${posts}">
            <td th:text="${post.post_id}"/>
            <td style="font-size: 2rem" th:text="${post.post_text}"/>
            <td th:text="${post.created_at}"/>
            <td th:text="${post.user.getUsername()}"/>
            <td th:each="image : ${post.images}">
                <div class="image-frame">
                    <img width="600px" height="600px" th:src="@{'data:image/;base64,'+${image.ConvertBytesToBase64()}}" alt="sss"/>
                </div>

            </td>
            <td sec:authorize="isAuthenticated()">
                <a th:href="@{'/posts/show/' + ${post.post_id}}"  th:text="Просмотреть"/>
                <a th:if="${#authorization.expression('hasRole(''ADMIN'')') || post.user.getUsername() == #authorization.authentication.getName()}"
                   th:href="@{'/posts/addOrUpdate/edit/' + ${post.post_id}}" th:text="Редактировать"
                   class="text-success" style="margin-left: 15px"/>
                <a th:if="${#authorization.expression('hasRole(''ADMIN'')') || post.user.getUsername() == #authorization.authentication.getName()}"
                   th:href="@{'/posts/delete/' + ${post.post_id}}" th:text="Удалить" class="text-danger"
                   style="margin-left: 15px"/>
            </td>
        </tr>
        </tbody>
    </table>
<!--    <nav aria-label="Page navigation" th:if="${totalPages > 0}">-->
<!--        <ul class="pagination">-->
<!--            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}">-->
<!--                <a class="page-link" th:href="@{${filterUrl}(page=${i})}" th:text="${i + 1}"></a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--    <br>-->
<!--    <form th:action="@{/posts/addOrUpdate/add}">-->
<!--        <button type="submit" sec:authorize="isAuthenticated()" class="btn btn-success">Добавить запись</button>-->
<!--    </form>-->
<!--    <h3 style="margin-top: 20px" >Отфильтровать</h3>-->
<!--    <form th:action="@{/posts/filter}" method="get">-->
<!--        <div class="form-group">-->
<!--            <label for="text">Текст:</label>-->
<!--            <input type="text" class="form-control" id="text" name="text" th:value="${text}">-->
<!--        </div>-->
<!--        <h5 style="margin-top: 20px">Дата создания </h5>-->
<!--        <div class="form-group">-->
<!--            <label for="start">От</label>-->
<!--            <input type="date" class="form-control" id="start" name="start" th:value="${start}">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="end">До</label>-->
<!--            <input type="date" class="form-control" id="end" name="end" th:value="${end}">-->
<!--        </div>-->
<!--        <button class="btn btn-primary" sec:authorize="isAnonymous()" disabled>Отфильтровать</button>-->
<!--        <button type="submit" class="btn btn-primary" sec:authorize="isAuthenticated()">Отфильтровать</button>-->

<!--    </form>-->
<!--    <form th:action="@{/}">-->
<!--        <button style='margin-top: 10px' type="submit" class="btn btn-danger" sec:authorize="isAuthenticated()">Сбросить</button>-->
<!--        <button style='margin-top: 10px' sec:authorize="isAnonymous()" disabled class="btn btn-danger">Сбросить</button>-->
<!--    </form>-->
<!--    <br>-->
<!--    <h4>Самые просматриваемы посты</h4>-->
<!--    <ul sec:authorize="isAuthenticated()" th:if="${topPosts != null}" style="list-style-type: none; padding: 0; margin: 0;">-->
<!--        <li  th:each="topPost : ${topPosts} " style='margin-top: 5px; margin-bottom: 25px'>-->
<!--            <span th:text="'Текст: &#34' + ${topPost.post_text} + '&#34,'" ></span>-->
<!--            <span th:text="'Количество просмотров: ' + ${topPost.views} "></span>-->
<!--        </li>-->
<!--    </ul>-->
<!--    <div sec:authorize="isAnonymous()" >Авторизуйтесь чтобы увидеть самые просматриваемы посты</div>-->
</div>
</body>