<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{navigation :: navi('Home')}"></div>
<div class="container" style="width: 25%">
    <h2 style="text-align: center" class="mt-5" >Регистрация</h2>
    <form th:action="@{/posts/registration/newUser}"
          th:object="${user}" method="post">
        <div class="form-group">
            <label for="newUsername">Имя пользователя</label>
            <input th:field="*{username}" class="form-control" id="newUsername" placeholder="Введите имя пользователя">
        </div>
        <div class="form-group">
            <label for="newPassword">Пароль</label>
            <input th:field="*{password}" type="password" class="form-control" id="newPassword" placeholder="Введите пароль">
        </div>
        <button type="submit" class="container btn btn-success ">Зарегистрироваться</button>
    </form>
    <div class="nav-item">
        <div th:if="${param.error} != null">
            <span style="color: black;padding: 10px">Такое имя пользователя уже существует</span>
        </div>
    </div>
</div>
</body>
</html>